{% extends "top.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column mt-5">
           <center>
               <div class="alert alert-success" role="alert">
                  <p>We've successfully emailed you instructions for setting your password.</p>
                   <p>If you don't receive an email, please make sure you've entered the email address you have registered with.</p>
                   Go back <a href="{% url 'password_reset' %}" class="alert-link">here</a> or <a href="{% url 'login' %}" class="alert-link">Cancel</a>.
               </div>
           </center>
        </div>
    </div>
{% endblock %}

