{% extends 'top.html' %}

{% block content %}
<div class="container">
    <div class="container-fluid mt-3">
        <h3>Forgotten your password?</h3>
        <p>Enter your Registered E-mail address to obtain a link to set a new password.</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-md btn-danger" type="submit">Send</button>
            <a href="{% url 'login' %}" class="btn btn-danger btn-md" type="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
