{% extends "top.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column mt-5">
           <center>
               <div class="alert alert-success" role="alert">
                  <p>Congratulations! your password has been successfully changed!</p>
                   Go home <a href="/" class="alert-link">here</a> or <a href="{% url 'login' %}" class="alert-link">login</a>.
               </div>
           </center>
        </div>
    </div>
{% endblock %}