
    {% extends "top.html" %}
    {% block content %}
        {% if validlink %}
    <div class="container">
    <div class="container-fluid mt-3">
            <h5>Please enter your new password twice.</h5>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-md btn-danger" type="submit">Reset</button>
                    <a href="/" class="btn btn-danger btn-md" type="button">Cancel</a>
                </form>
    </div>
    </div>

    {% else %}
            <div class="container">
                <div class="d-flex flex-column mt-5">
                   <center>
                       <div class="alert alert-success" role="alert">
                          <p>The password reset link was invalid, possibly because it has already been used.</p>
                           Please request a new <a href="{% url 'password_reset'%}" class="alert-link">password reset</a> email.
                       </div>
                   </center>
                </div>
            </div>
    {% endif %}
    {% endblock %}
