body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  size: 30px;
  color: grey;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
}

li a:hover, a:active {
  background-color: #ff0000;
  text-decoration: none;
  color: white;

}



