{% extends 'top.html' %}
{% load static %}
<!--{% block title %} Sign Up {% endblock %}-->

{% block content %}

<form method="post" action="{% url 'register' %}" style="border:0px solid #ccc">
    {% csrf_token %}
    <div class="container">
        <h4>Sign Up</h4>
        <p>Please fill in this form to create an account.</p>
        <div class="d-flex justify-content-center">
            <i class='fas fa-user-circle iconic iconic-lg ' style="font-size:20vw; color:#323232;"></i>
        </div>

        {% for message in messages %}
        <h7 style="color:red;"> {{message}}<br></h7>
        {% endfor %}
        <hr>
        <label for="first_name"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="first_name" required>

        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="last_name">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username (to be used during login)" name="username" required>

        <label for="password1"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password1" required>

        <label for="password2"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="password2" required>

        <!--        <label>-->
        <!--          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me-->
        <!--        </label>-->


        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="Checkbox" required>
            <label class="form-check-label" for="Checkbox">By creating an account you agree to our
                <a href="{% url 'terms' %}" style="color:dodgerblue">Terms & conditions</a> &
                <a href="{% url 'policies' %}" style="color:dodgerblue">Privacy policy</a>.
            </label>
        </div>

        <div class="clearfix">
            <!--      <button type="button" class="cancelbtn">Cancel</button>-->
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
        <div class="clearfixx">
            <br>
            <center><h6 style="color: grey;">Or</h6> Already have an account?</center>
            <a class="log" href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</form>
{% endblock %}