{% block sidebar %}
<!--<div class="col-md-6 mt-2 d-flex justify-content-end">-->
<!--                        <div class="card col-md-8" style="height:max-content;">-->
<!--                            <h5 class="card-header ">About Me</h5>-->
<!--                            <div class="card-body row justify-content-md-center">-->
<!--                                <div class=""text-content>-->
<!--                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet eget sit amet tellus. Eleifend donec pretium vulputate sapien nec. Diam maecenas sed enim ut sem viverra.</p>-->
<!--                                </div>-->
<!--                                    <a href="#" class="btn btn-danger text-center">Know more!</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->




<div class="col-md-4 my-5 float-right" style="text-align: justify">
<div class="card">
    <h5 class="card-header">About Me</h5>
    <div class="card-body ">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet eget sit amet tellus. Eleifend donec pretium vulputate sapien nec.</p>
        <a href="#" class="btn btn-danger text-center">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}