{% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static '/css/top.css' %}">
        <link rel="stylesheet" href="{% static '/css/bluetheme.css' %}">
        <link rel="stylesheet" href="{% static '/css/smart-forms.css' %}">
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <link rel="stylesheet" href="{% static '/css/detail.css' %}">
        <link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
        <title>Umesh Blogs</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow border" id="mainNav">
            <div class="container-fluid">
            <ul class="navbar-nav">
                    <li class="nav-item font-weight-bold">
                        <h5><a class="navbrand " href="{% url 'home' %}" title="Home"><b>Blogs</b></a></h5>
                    </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item font-weight-bold" >
                    <a href="#" title="About" class="link">About</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a href="#" title="policies" class="link">Policies</a>
                </li>
                <li class="nav-item font-weight-bold" style="float.left">
                    <a href="#" title="Contact Us" class="link">Contact</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item font-weight-bold">
                        <a href="{% url 'logout' %}" title="Log out" class="link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item font-weight-bold">
                        <a href="{% url 'login' %}" title="Log in" class="link">Login</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </nav>
        {% block content %}

        {% endblock content %}
        <br>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <footer class="py-3 bg-grey">
        <p class="m-0 text-dark text-center ">Copyright &copy; Umesh Blogs 2021. All Rights Reserved</p>
    </footer>
    </body>
    </html>
